<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/Rooms">Rooms</a></li>
            <li><a asp-page="/Canvas">Canvas</a></li>
            <li><a asp-page="/Account">Account</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
